In [1]:
import numpy as np
import pandas as pd
import cv2

On Image 1
772, 404
780, 288
788, 203
477, 333

On Image 2
360, 566
515, 565
737, 565
438, 487

Player positions
538, 450
560, 476

In [2]:
p1 = np.array([[772, 780, 589, 477], [404,288, 194, 333]])
p2 = [[360, 515, 736, 438], [566,565, 487, 487]]
p1.shape

(2, 4)

In [3]:
A = []
for i in range(0, len(p1[1])):
    x, y = p1[0][i], p1[1][i]
    u, v = p2[0][i], p2[1][i]
    A.append([-1*x, -1*y, -1, 0, 0, 0, u*x, u*y, u])
    A.append([0, 0, 0, -1*x, -1*y, -1, v*x, v*y, v])
A.append([0, 0, 0, 0, 0, 0, 0, 0, 1])
A = np.asarray(A)
U, S, Vh = np.linalg.svd(A)
V = Vh.transpose()
L = Vh[8].reshape((3, 3))

pd.DataFrame(A)

     0    1  2    3    4  5       6       7    8
0 -772 -404 -1    0    0  0  277920  145440  360
1    0    0  0 -772 -404 -1  436952  228664  566
2 -780 -288 -1    0    0  0  401700  148320  515
3    0    0  0 -780 -288 -1  440700  162720  565
4 -589 -194 -1    0    0  0  433504  142784  736
5    0    0  0 -589 -194 -1  286843   94478  487
6 -477 -333 -1    0    0  0  208926  145854  438
7    0    0  0 -477 -333 -1  232299  162171  487
8    0    0  0    0    0  0       0       0    1

In [4]:
sol = [0, 0, 0, 0, 0, 0, 0, 0, 1]
h = np.linalg.solve(A, sol)
print('Is all close? ', np.allclose(np.dot(A, h), sol))

Is all close?  True

In [5]:
H = np.reshape(h,(3,3))
H

array([[ 6.11269767e-01, -2.80372624e+00,  4.05349220e+03],
       [ 2.58761538e+00,  1.09526865e+01, -1.08846645e+03],
       [ 9.72881870e-04,  1.89927374e-02,  1.00000000e+00]])

In [6]:
player_pos = np.array([589, 194, 1])
H@player_pos

array([3869.607199  , 2560.46019825,    5.25761848])

In [ ]:
# To validate the result with OpenCV: 
p1 = np.array([[772, 780, 589, 477], [404,288, 194, 333]], dtype=np.float32)
p2 = np.array([[360, 515, 736, 438], [566,565, 487, 487]], dtype=np.float32)

p1 = np.array([[772, 404], [780, 288], [589, 194], [477, 333]])
p2 = np.array([[360, 566], [515, 565], [736, 487], [438, 487]])
h, status = cv2.findHomography(p1, p2)
player_pos = np.array([589, 194, 1])
h@player_pos

In [8]:
# Warp first image
im1 = cv2.imread("image1.jpg");
sz = im1.shape
#im1 = cv2.warpPerspective(im1, H, (sz[1],sz[0]))
#cv2.imshow("Image 1", im1)
#cv2.waitKey()

In [18]:
def warp_img(H, image):
    # grab the image dimensions
    output = []
    h = image.shape[0]
    w = image.shape[1]
    
    # loop over the image, pixel by pixel
    for y in range(0, 2):
        for x in range(0, 2):
            # threshold the pixel
            print(np.array([x, y, 1])@H)
            #output[y, x] = np.array([x, y, 1])@H
            
    # return the thresholded image
    return output

warp_img(H, im1)

[9.72881870e-04 1.89927374e-02 1.00000000e+00]
[ 6.12242649e-01 -2.78473350e+00  4.05449220e+03]
[    2.58858826    10.97167926 -1087.46644813]
[   3.19985803    8.16795303 2966.02574803]

[]

In [13]:
# With SVD

A = []
for i in range(0, len(p1[1])):
    x, y = p1[0][i], p1[1][i]
    u, v = p2[0][i], p2[1][i]
    A.append([-1*x, -1*y, -1, 0, 0, 0, u*x, u*y, u])
    A.append([0, 0, 0, -1*x, -1*y, -1, v*x, v*y, v])
A = np.asarray(A)
U, S, Vh = np.linalg.svd(A)
V = Vh.transpose()
H = V[8].reshape((3, 3))

pd.DataFrame(A)

     0    1  2    3    4  5       6       7    8
0 -772 -404 -1    0    0  0  277920  145440  360
1    0    0  0 -772 -404 -1  436952  228664  566
2 -780 -288 -1    0    0  0  401700  148320  515
3    0    0  0 -780 -288 -1  440700  162720  565
4 -788 -203 -1    0    0  0  580756  149611  737
5    0    0  0 -788 -203 -1  445220  114695  565
6 -477 -333 -1    0    0  0  208926  145854  438
7    0    0  0 -477 -333 -1  232299  162171  487

In [18]:
pd.DataFrame(Vh)

,0,1,2,3,4,5,6,7,8
0,-0.000806,-0.000314,-1.098150e-06,-0.000857,-0.000359,-0.000001,0.932792,0.360411,0.001259
1,0.000176,-0.000908,-9.815793e-07,-0.001353,-0.001573,-0.000003,-0.360413,0.932790,0.000732
2,-0.679615,-0.297760,-9.509398e-04,0.620523,0.253613,0.000846,-0.000418,0.000997,0.009564
3,-0.315114,-0.586189,-5.687983e-04,-0.701057,0.189162,-0.000391,-0.000342,-0.001206,-0.172684
4,-0.157373,0.251722,1.108589e-03,0.039822,-0.188343,0.000801,0.000771,0.001046,-0.935311
5,-0.585986,0.301161,1.346079e-03,-0.237118,-0.647830,-0.002814,-0.000685,-0.001533,0.300003
6,-0.265856,0.643162,-1.730900e-03,-0.256234,0.666878,0.000925,-0.000540,0.001163,0.072629
7,-0.000599,0.000148,-4.402874e-01,-0.001142,-0.003319,0.897849,-0.000001,-0.000006,0.001008
8,-0.000653,-0.000136,8.978528e-01,-0.000535,0.001250,0.440291,-0.000002,0.000002,0.001240

In [19]:
player_pos = np.array([538, 450, 1])
H@player_pos

array([   1.01619519, -513.49428988,   39.52897128])

NameError: name 'H' is not defined

In [5]:
A = []
for i in range(4): # Using the corners
        A[i*2,:] = [ p1[i][1], p1[i][0], 1, 0, 0, 0, -p2[i][1]*p1[i][1], -p2[i][1]*p1[i][0], -p2[i][1] ]
        A[i*2+1,:] = [0, 0, 0, p1[i][1], p1[i][0], 1, -p2[i][0]*p1[i][1], -p2[i][0]*p1[i][0], -p2[i][0] ]

[U,S,V]=np.linalg.svd(A)
m = V[-1,:]
H = np.reshape(m,(3,3))

print("This value should be close to zero: "+str(np.sum(np.dot(A,m))))

H = np.reshape(m,(3,3))

IndexError: list index out of range

In [13]:
origin = [[772, 780, 788, 477], [404,288, 203, 333]]
dest = [[360, 515, 737, 438], [566,565, 565, 487]]
nbr_correspondences = len(origin[0])
a = np.zeros((2 * nbr_correspondences, 9))
for i in range(nbr_correspondences):
    a[2 * i] = [-origin[0][i], -origin[1][i], -1, 0, 0, 0, dest[0][i] * origin[0][i], dest[0][i] * origin[1][i],
                dest[0][i]]
    a[2 * i + 1] = [0, 0, 0, -origin[0][i], -origin[1][i], -1, dest[1][i] * origin[0][i], dest[1][i] * origin[1][i],
                    dest[1][i]]
u, s, v = np.linalg.svd(a)
homography_matrix = v[8].reshape((3, 3))
homography_matrix = np.dot(np.linalg.inv(c2), np.dot(homography_matrix, c1))
homography_matrix = homography_matrix / homography_matrix[2, 2]

NameError: name 'c2' is not defined